@model WebPi.Models.Achat
@{
    ViewBag.Title = "poster une maison/un appartement";
}


<div class="container">
    <div class="row">

        <form action="@Url.Action("Create", "Achat")" method="post" enctype="multipart/form-data">
            <div class="col-lg-12 col-md-12">

                <div class="submit-page">

                    <!-- Basic Information -->
                    <div class="form-submit" >
                        <h3>Basic Information</h3>
                        <div class="submit-section" >
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Property Title<span class="tip-topdata" data-tip="Property Title"><i class="ti-help"></i></span></label>
                                    <input class="form-control" name="titre" type="text" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Status</label>
                                    <select id="status" name="status" class="form-control">
                                        <option value="For Rent" >For Rent</option>
                                        <option value="For Sale" >For Sale</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Property Type</label>
                                    <select id="ptypes" class="form-control" name="type">
                                        <option value="House" >House</option>
                                        <option value="Apartment" >Apartment</option>
                                        <option value="Villa">Villa</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Price</label>
                                    <input type="text" class="form-control" placeholder="USD" name="price" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Area</label>
                                    <input type="text" class="form-control" name="areas">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Bedrooms</label>
                                    <select id="bedrooms" class="form-control" name="bedrooms" required>
                                        <option value="1" >1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4" >4</option>
                                        <option value="5" >5</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Bathrooms</label>
                                    <select id="bathrooms" class="form-control" name="bathrooms" required>
                                        <option value="1" >1</option>
                                        <option value="2">2</option>
                                        <option value="3" >3</option>
                                        <option value="4" >4</option>
                                        <option value="5" >5</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Gallery -->
                    <div class="form-submit">
                        <h3>Gallery</h3>
                        <div class="submit-section">
                            <div class="row">

                                <div class="form-group col-md-12">
                                    <label>Upload Gallery</label>
                                    <input type="file" name="photo" >
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Location -->
                    <div class="form-submit">
                        <h3>Location</h3>
                        <div class="submit-section">
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label>Address</label>
                                    <input type="text" class="form-control" name="address" required>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>City</label>
                                    <select name="city" class="form-control" required>
                                        <option value="Tunis">Tunis</option>
                                        <option value="Nabeul">Nabeul</option>
                                        <option value="Sousse">Sousse</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Detailed Information -->
                    <div class="form-submit" data-select2-id="45">
                        <h3>Detailed Information</h3>
                        <div class="submit-section" data-select2-id="44">
                            <div class="row">

                                <div class="form-group col-md-12">
                                    <label>Description</label>
                                    <textarea class="form-control h-120" name="description" required></textarea>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Building Age (optional)</label>
                                    <select id="bage" class="form-control" name="age">
                                        <option value="" data-select2-id="58"></option>
                                        <option value="0-5Years">0 - 5 Years</option>
                                        <option value="5-10Years">0 - 10Years</option>
                                        <option value="10-15Years" >0 - 15 Years</option>
                                        <option value="15-20Years" >0 - 20 Years</option>
                                        <option value="20+Years" >20+ Years</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Garage (optional)</label>
                                    <select id="garage" class="form-control" name="garage">
                                        <option value="0" >0</option>
                                        <option value="1" >1</option>
                                        <option value="2" >2</option>
                                        <option value="3" >3</option>
                                        <option value="4" >4</option>
                                        <option value="5" >5</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Other Features (optional)</label>
                                    <div class="o-features">
                                        <ul class="no-ul-list third-row">
                                            <li>
                                                <input id="a-1" class="checkbox-custom" name="ac" type="checkbox">
                                                <label for="a-1" class="checkbox-custom-label">Air Condition</label>
                                            </li>
                                            <li>
                                                <input id="a-2" class="checkbox-custom" name="internet" type="checkbox">
                                                <label for="a-2" class="checkbox-custom-label">Internet</label>
                                            </li>
                                            <li>
                                                <input id="a-3" class="checkbox-custom" name="elevator" type="checkbox">
                                                <label for="a-3" class="checkbox-custom-label">Elevator</label>
                                            </li>
                                            <li>
                                                <input id="a-4" class="checkbox-custom" name="parking" type="checkbox">
                                                <label for="a-4" class="checkbox-custom-label">Parking</label>
                                            </li>
                                            <li>
                                                <input id="a-5" class="checkbox-custom" name="pool" type="checkbox">
                                                <label for="a-5" class="checkbox-custom-label">Pool</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-submit">
                        <h3>Contact Information</h3>
                        <div class="submit-section">
                            <div class="row">

                                <div class="form-group col-md-4">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="email" required>
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Phone (optional)</label>
                                    <input type="text" class="form-control" name="phone" >
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12">
                        <button class="btn btn-theme-light-2 rounded" type="submit">Poster</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

